{% extends 'dcim/device/base.html' %}
{% load render_table from django_tables2 %}
{% load plugins %}
{% load helpers %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div id="content-wrapper">

  <div class="row">
    <div class="col-md-6">


      <div class="panel panel-default" style="border: 1px solid #3d4d5c;margin-bottom: 20px; border-radius: 4px;">
        <div class="panel-heading" style="background-color: #2c3e50; color: white; padding: 12px; border-bottom: 1px solid #3d4d5c; border-radius: 4px 4px 0 0;">
          <strong>Device</strong>
        </div>
        <table class="table table-hover" style="margin-bottom: 0; border-radius: 0 0 4px 4px;">
          <tr style="border-bottom: 1px solid #3d4d5c;">
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Site</strong></td>
            <td style="padding: 10px;"><a href="{% url 'dcim:site' pk=object.site.pk %}">{{ object.site }}</a></td>
          </tr>
          {% if object.tenant %}
          <tr style="border-bottom: 1px solid #3d4d5c;">
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Tenant</strong></td>
            <td style="padding: 10px;">
              <a href="{% url 'tenancy:tenant' pk=object.tenant.pk %}">{{ object.tenant }}</a>
              {% if object.tenant.group %}
                / <a href="{% url 'tenancy:tenantgroup' pk=object.tenant.group.pk %}">{{ object.tenant.group }}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
        {% if object.primary_ip4 %}
        <tr style="border-bottom: 1px solid #3d4d5c;">
        <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Primary IPv4</strong></td>
        <td style="padding: 10px;"><a href="{% url 'ipam:ipaddress' pk=object.primary_ip4.pk %}">{{ object.primary_ip4 }}</a></td>
        </tr>
        {% endif %}
          {% if object.device_type %}
          <tr style="border-bottom: 1px solid #3d4d5c;">
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Type</strong></td>
            <td style="padding: 10px;">
              {% if object.device_type.manufacturer %}
                <a href="{% url 'dcim:manufacturer' pk=object.device_type.manufacturer.pk %}">{{ object.device_type.manufacturer }}</a> / 
              {% endif %}
              <a href="{% url 'dcim:devicetype' pk=object.device_type.pk %}">{{ object.device_type }}</a>
            </td>
          </tr>
          {% endif %}
          {% if object.device_type.description %}
          <tr>
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Device Description</strong></td>
            <td style="padding: 10px;">{{object.device_type.description}}</a></td>
          </tr>
          {% endif %}
          {% if object.config_template %}
          <tr>
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Config Template</strong></td>
            <td style="padding: 10px;"><a href="{% url 'extras:configtemplate' pk=object.config_template.pk %}">{{ object.config_template }}</a></td>
          </tr>
          {% endif %}
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" style="border: 1px solid #3d4d5c;margin-bottom: 20px; border-radius: 4px;">
        <div class="panel-heading" style="background-color: #2c3e50; color: white; padding: 12px; border-bottom: 1px solid #3d4d5c; border-radius: 4px 4px 0 0;">
          <strong>Extra Information</strong>
        </div>
        <table class="table table-hover" style="margin-bottom: 0; border-radius: 0 0 4px 4px;">
          {% if object.custom_field_data.DHCP %}
          <tr style="border-bottom: 1px solid #3d4d5c;">
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>DHCP</strong></td>
            <td style="padding: 10px;">{{ object.custom_field_data.DHCP }}</td>
          </tr>
          {% endif %}
          {% if object.custom_field_data.PID %}
          <tr style="border-bottom: 1px solid #3d4d5c;">
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>PID</strong></td>
            <td style="padding: 10px;">{{ object.custom_field_data.PID }}</td>
          </tr>
          {% endif %}
        </table>
      </div>
    </div>
    {% if object.local_context_data.KAK_DATA %}
    {% with data=object.local_context_data.KAK_DATA %}
    <div class="col-md-6">
      <div class="panel panel-default" style="border: 1px solid #3d4d5c;margin-bottom: 20px; border-radius: 4px;">
        <div class="panel-heading" style="background-color: #2c3e50; color: white; padding: 12px; border-bottom: 1px solid #3d4d5c; border-radius: 4px 4px 0 0;">
          <strong>KAK Information</strong>
        </div>
        <table class="table table-hover" style="margin-bottom: 0;">
          {% if data.services %}
          <tr style="border-bottom: 1px solid #3d4d5c;">
            <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Service</strong></td>
            <td style="padding: 10px;">{{ data.services }}</td>
          </tr>
          {% endif %}
          {% if data.capn %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>CAPN Address</strong></td>
              <td style="padding: 10px;">{{ data.capn }}</td>
            </tr>
          {% endif %}
          {% if data.lan %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>LAN IP Address and Subnet Mask</strong></td>
              <td style="padding: 10px;">{{ data.lan }}</td>
            </tr>
          {% endif %}
          {% if data.service_id %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Service ID</strong></td>
              <td style="padding: 10px;">{{ data.service_id }}</td>
            </tr>
          {% endif %}
          {% if data.bgp_neighbor_ip_address %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>BGP Neighbor IP Address</strong></td>
              <td style="padding: 10px;">{{ data.bgp_neighbor_ip_address }}</td>
            </tr>
          {% endif %}
          {% if data.wan_ip %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>WAN IP Address</strong></td>
              <td style="padding: 10px;">{{ data.wan_ip }}</td>
            </tr>
          {% endif %}
          {% if data.dhcp_start  %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>DHCP Start Address</strong></td>
              <td style="padding: 10px;">{{ data.dhcp_start  }}</td>
            </tr>
          {% endif %}
          {% if data.dhcp_end  %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>DHCP END Address</strong></td>
              <td style="padding: 10px;">{{ data.dhcp_end  }}</td>
            </tr>
          {% endif %}
          {% if data.enable_dhcp  %}
            <tr style="border-bottom: 1px solid #3d4d5c;">
              <td style="width: 30%; padding: 10px; font-weight: bold;"><strong>Is DHCP Enabled</strong></td>
              <td style="padding: 10px;">{{ data.enable_dhcp  }}</td>
            </tr>
          {% endif %}
        </table>
        {% endwith %}
        {% else %}
        <p class="text-muted">No KAK data available</p>
        {% endif %}
      </div>
    </div>


  </div>

</div>
{% endblock %}